:root{
    --theme-color: #3569C8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.material-symbols-outlined{
    color: #FFFFFF;
}
body,.wrapper{
    width: 100svw;
    height: 100svh;
    background-color: #EFF6FC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.wrapper{
    padding: 20px;
}
.container1{
    width: 120px;
    height: 100%;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.container1 button{
    border: none;
    background: none;
    cursor: pointer;
}
.icons span{
    font-size: 35px!important;
}
.profile-img-cont {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}
.profile-icon {
    font-family: 'Material Symbols Outlined', sans-serif; 
    font-size: 80px!important; 
    line-height: 1; 
    background-color: #fff;
    border-radius: 50%;
    color: var(--theme-color);
    font-weight: 200!important;
}

.container2{
    width: 300px;
    height: 100%;
    /* background-color: #e8e8e8; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.container2 span{
    color: #c0bfbf;
}
.search-container{
    width: 100%;
    height: 80px;
    background-color: #fff;
    color: #c0bfbf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    border: none;
    width: 80%;
    height: 100%;
    font-size: 1.1rem;
}
.groups-container,.people-container{
    width: 100%;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
}
.grouplist-cont,.peoplelist-cont{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(3,1fr);
    overflow: auto;
}
.li-grouplist,.li-peoplelist {
    height: 100px;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .people-container{

} */
.container3{
    width: 900px;
    height: 100%;
    background-color: #fff;
}

.container1,.search-container,.groups-container,.people-container,.container3{
    border-radius: 25px;
}